body {
  display: block;
  width: auto;
  height: auto;
  background-color: #ffffff;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: Calibri, Serif, serif;
  font-size: 1.5vh;
}
h1 {
  margin: 0;
}
.head {
  box-sizing: border-box;
  display: block;
  width: 52vw;
  height: 24vh;
  background-color: aqua;
  margin: 0 auto 1vh;
  padding: 0;
  line-height: 3.5vh;
  text-align: left;
  background-image: url("title-2.jpg");
}
.h1 {
  font-size: 4vh;
  font-weight: 400;
  padding-left: 5.1vw;
  padding-top: 7vh;
  margin: 0;
  padding-bottom: 0;
  display: block;
}

.slogan {
  font-size: 2vh;
  font-weight: 100;
  padding-left: 5.1vw;
  margin: 0;
  padding-top: 0;
  display: inline-block;
}
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
nav {
  box-sizing: border-box;
  border: 0.01vh dotted;
  width: 51vw;
  height: 6vh;
  background-color: #c8b6dc;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2.5vw;
  font-size: 2vh;
  color: #614a66;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  }
nav li {
  box-sizing: border-box;
  text-align: right;
  font-size: 1.4vh;
  color: black;
  display: block;
  padding-left: 1vh;
  padding-right: 1vh;

}
.dots {
  box-sizing: border-box;
  border-right: 0.2vh dotted #614a66;
  width: 0.01vw;
  height: 1.4vh;
  padding: 0;
  vertical-align: center;
  display: block;
}



.mainbloc {
  width: 100vw;
   display: flex;
  justify-content: center;
  flex-wrap: wrap;
  }

.main-information {
  width: 40vw;
  height: 62vh;
  text-align: left;
  font-size: 2vh;
  color: #614a66;
  padding: 0;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu-information {
   width: 10vw;
  height: 62vh;
   font-size: 2vh;
  color: #614a66;
   padding-left: 0.5vw;
  padding-right: 0.5vw;

}

.ab {
  box-sizing: border-box;
    width: 40vw;
  height: 31vh;
  text-align: justify;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1.6vh;
 }
.Etiam {
  box-sizing: border-box;
  width: 20vw;
  height: 22vh;
   padding-left: 1vw;
  padding-right: 1vw;
  margin: 0;
  font-size: 1.6vh;

}
.line {
  border-left: 0.01vh solid #614a66;
}
.body-tabe {
  font-size: 0;
  margin-left: 0;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}
h2 {
  text-align: left;
}
span a {
  text-decoration: none;
  color: black;
}
.bottom {
  color: black;
  font-weight: bold;
  padding: 1vh 0.9vw 1.3vh 0.9vw;
  border: 0.01vw solid black;
}
li {
  font-size: 3vh;
}

footer {
  box-sizing: border-box;
  width: 51vw;
  height: 5vh;
  background-color: #c8b6dc;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 0.1vh;
  padding-bottom: 0.1vh;
  padding-left: 0;
}
.twoangle {
  list-style-type: "»";
  color: white;
  -webkit-text-stroke: 0.06vh black;
  font-size: 3.3vh;
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
  margin-top: 1vw;
}
.arrow {
  -webkit-text-stroke: 0 black;
  list-style-type: "►►";
  font-size: 0.7vh;
  font-weight: bold;
  padding-left: 0;
  color: black;
}
li a {
  text-decoration: none;
  color: initial;
}
li .arrow a {
  -webkit-text-stroke: 0 black;
  text-decoration: none;
  color: #7f6f93;
  font-size: 2.2vh;
  padding-left: 1vh;
  margin-left: 0;
  vertical-align: middle;
}

.mainmenu {
  font-size: 2.7vh;
  font-weight: bold;
  -webkit-text-stroke: 0 black;
  color: black;
  vertical-align: bottom;
  padding-left: 1vh;
}
.oncneg {
  margin-top: 2vh;
  font-size: 1.6vh;
  -webkit-text-stroke: initial;
  color: initial;
}

.underborder {
  padding-bottom: 2vh;
  border-bottom: 0.01vh solid black;
}
